# Ignore database files
database/

# Ignore Python environment
books/
books/*
/books

# Standard Python ignores
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.env
.venv
venv/
ENV/
.vscode/

# Ignore specific files
book_tracker_creds.json
test_extraction.py

# Exclude datasets
.datasets/raw_books_current.csv
.datasets/raw_consolidate.csv