# Ignore database files
database/

# Ignore Python environment
books/
books/*
/books

# Standard Python ignores
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.env
.venv
venv/
ENV/
.vscode

# Ignore specific files
test.ipynb